@import "tailwindcss";


h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    color: gray;
}

.sub-description {
    font-size: 12px;
    color: gray;
}