@{
    ViewData["Title"] = "Skill Sift Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        To run this site through Visual Studio, use Debug > Start Without Debugging.<br/>
        To refresh after edits, run Start Without Debugging. maybe theres a better way i dunno
    </p>
    <p><a href="@Url.Action("DevHelp", "Test")">Adding New Views</a></p>
</div>
