.row {
    display: flex; /* Enables flexbox */
    flex-direction: row; /* Default: items appear side-by-side */
    gap: 10px; /* Optional spacing */
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    gap: 10px;
    align-items: center;
}

.centered_row {
    @apply flex flex-row items-center;
    gap: 50px;
}

.centered_column {
    @apply flex flex-col items-center;
    gap: 20px;
}

.horizontal_line {
    border-top: 2px solid #000; /* Creates the solid line */
    height: 0; /* Ensures the div itself has no height other than the border */
    margin: 1px; /* Adds vertical spacing */
    width: 100%; /* Spans the full width of its parent container */
}

