.row {
    display: flex; /* Enables flexbox */
    flex-direction: row; /* Default: items appear side-by-side */
    gap: 10px; /* Optional spacing */
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    gap: 10px;
    align-items: center;
}

.centered_row {
    @apply flex flex-row items-center;
    gap: 50px;
}

.centered_row2 {
    @apply flex flex-row items-center;
    gap: 10px;
}

.centered_column {
    @apply flex flex-col items-center;
    gap: 20px;
}


