<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Adding New Views</title>
</head>
<body>
    <div><h1>Adding New Views</h1></div>
    <div>
        <h2>Adding the View Itself</h2>
        <p>
            Views are added to the "Views" folder. Each view or "page" is a .cshtml file which combines 
            html with CSharp. To use CS in a .cshtml file, use the special escape character @@ followed by
            a single full line of cs code or braces { } for multi line code. <br />

            Refer to Home/Privacy.cshtml for an example of how this is used. <br />

            To add a new view, use the following steps:
        </p>
        <ol>
            <li>Add a new folder to the Views folder or use an existing one.</li>
            <li>Add a .cshtml file to the folder.</li>
        </ol>
    </div>

    <div>
        <h2>Setting Up Navigation to the New View with a Controller</h2>
        <p>
            Each view folder is associated with a controller in the "Controllers" folder. The associated
            controller is always named in the format "ExampleController.cs" where "Example" is the name of
            the View folder.
        </p>
        <p>
        When we want to switch views, we send a request to a specific controller with the name of the view.
            We refer to the controller using the name of the controller excluding "Controller". For example,
            "TestController" becomes "Test".
        </p>
        <p>
        In order for the controller to return the view requested, we must create a function with a name
            that matches the name of the view. For example, in order to visit Index.cshtml we must create
            a public function named Index. (Refer to TestController.cs for a code example).
        </p>
        <p>
            By default, the Controller only uses the function name if we return a View() object with no
            parameters. If we wanted we could specify any view to return and even include additional logic
            to determine which one to return.
        </p>
    </div> 
    
    <div>
        <h2>Linking to the View</h2>
        <p>Here are some examples of linking to other pages. View the source code of Adding New Views.cshtml to see the syntax</p>

        <h3>ActionLink</h3>
        <p>@Html.ActionLink("Go to Home/About Page", "About", "Home")</p>
        <p>@Html.ActionLink("Go to Test/Details Page", "Details", "Test")</p>
        <p>Parameters: Text, Function Name (View), Controller Name</p>

        <h3>Url.Action</h3>
        <p><a href="@Url.Action("About", "Home")">Go to Home/About Page</a></p>
        <p><a href="@Url.Action("Details", "Test")">Go to Test/Details Page</a></p>
        <p>Parameters: Function Name (View), Controller Name</p>

        <h3>Raw HTML</h3>
        <p><a href="/Home/About">Go to Home/About Page</a></p>
        <p><a href="/Test/Details">Go to Test/Details Page</a></p>
    </div>
</body>
</html>